<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Events Viewer", root_path, class: "navbar-brand nav-link" %>
    <%= link_to "Admin", admin_index_path, class: "nav-link" %>
  </div>
</nav>
